snippet a_section "A section box"
/*  ==========================================================================
 *  ${1:command}
 *  ========================================================================== */
endsnippet

snippet sub_section  "A sub section box"
/*  ${1:command}
 *  ========================================================================== */
endsnippet
